body{
    background-color:gainsboro;
}
#items-table{
    margin-top: 5%;
    background-color: ghostwhite;
}
td{
    height: 50px;
}
#homepage-title{
    padding-top: 3%;;
    text-align: center;
    max-width: 100%;
    position:relative;
    color: 	#FF8000;
    font-family: 'Rock Salt', cursive;
    font-size: 3VW;
    font-weight: bold;
}