
#homepage-title{
    padding-top: 3%;;
    text-align: center;
    max-width: 100%;
    position:relative;
    color: 	#FF8000;
    font-family: 'Rock Salt', cursive;
    font-size: 3VW;
    font-weight: bold;
}
 
#home-buttons{
   
    margin-left: 45%;
    margin-top:30%;
} 