#submit-button{
    display: block;
    width: 8vw; 
    margin: 0 auto;   
}
#submit-form{
    display: block; 
    margin: 0 auto; 
}
#login-fail{
    text-align: center;
    color: red;
    size: .75vw;
}